.fondo {
    background: #876445;
}
#contenedorFormulario {
    width: 35%;
    margin: 2.5vh auto;
    background: #EDDFB3;
    
}
.btn-color {
    background: #76BA99;
    --bs-btn-hover-bg: #87d3ae;
}

.btn-ocultar {
    background: #639c81;
    --bs-btn-hover-bg: #598b73;

}

#contenedorDatos {
    width: 42%;
}

ul {
    padding-left: 2px;
}


